/* 
    Created on : 5 янв. 2023 г., 16:52:31
    Author     : borisovama@oiate.ru
*/

/*-----------------------------------------------------------------------------------*/
/*	FAQ SECTIONS 
/*-----------------------------------------------------------------------------------*/
.heading {
    display: flex;
    flex-direction: column;
/*    margin-top: 50px;*/
    text-align: center;
    margin: 50px 100px;
}

.heading form  {

/*    border: silver solid 1px;*/    
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 20px 0px;     
}

.heading form input {
    flex: 1;
    padding: 10px;
    border: none; 
    font-family: 'Alice', serif;
    font-size: 14px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.questions h2, section {
    text-align: center;   
    margin-bottom: 20px;
}

.questions form {
    margin: 50px 0px 50px;
}

.q_wrap {
    position: relative;
    min-height: 30px;
    margin-bottom: 15px;
}

.q_title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 30px;
    z-index: 1;
    font-size: 18px;
}

/*.toggle:checked~.q_title,
.q_title:hover {
    color: #EA2816;
}*/

.icon {
    height: 18px;
    position: absolute;
    width: 18px;
    right: 0;
    top: 11px;
    z-index: 2;
}

.icon:before,
.icon:after {
    background: #333;
    content: '';
    height: 4px;
    right: 0;
    position: absolute;
    top: 0;
    width: 18px;
    transition: transform 500ms ease;
}

/*.toggle:checked~.icon:before,
.toggle:checked~.icon:after {
    background: #EA2816;
}*/

.toggle:not(:checked)~.icon:before {
    transform: rotate(180deg);
}

.toggle:not(:checked)~.icon:after {
    transform: rotate(90deg);
}

.toggle {
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 3;
}

.border {
    height: 40px;
    border-bottom: 1px solid silver;
}

.toggle:checked~.border {
    border-bottom: 1px solid silver;
}

.q_content {
    padding: 15px 0 0 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .4s ease;
}

.toggle:checked~.q_content {
    height: auto;
    opacity: 1;
    z-index: 2;
}
.q_content>p {
    margin-bottom: 20px;
}



